.workout-wrapper,
.exercises-header,
.exercises-list {
  display: flex;
  gap: 10px;
}

.workout-wrapper {
  align-items: flex-start;
  flex-direction: column;
}

.exercises-header {
  align-items: center;
}

.exercises-list {
  flex-wrap: wrap;
  height: 45vh;
  overflow: auto;
}
