<div class="navbar">
  <div class="logo-wrapper" [routerLink]="appWorkoutsRoute">
    <span>Fitness Workout Tracker</span>
  </div>

  <button mat-button [matMenuTriggerFor]="workoutMenu">
    Gestisci Allenamenti
  </button>
  <mat-menu #workoutMenu="matMenu">
    <a mat-menu-item [routerLink]="currentWorkoutsRoute">
      <span>Allenamenti in corso</span>
    </a>
    <a mat-menu-item [routerLink]="userWokroutsRoute">
      <span>Allenamenti personalizzati</span>
    </a>
  </mat-menu>
</div>
