<mat-card appearance="outlined">
  <mat-card-content>
    <p>
      <strong>{{ workout.name }}</strong>
    </p>
    <p>
      <span *ngIf="workout.description; else noDescription">
        {{ workout.description }}
      </span>
      <ng-template #noDescription>
        <i>Questo corso non ha alcuna descrizione</i>
      </ng-template>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <ng-container>
      <button mat-button (click)="createWorkoutSessionAndGoToPage()">
        Inizia
      </button>
    </ng-container>
    <ng-template></ng-template>
    <ng-container *ngIf="workout.workoutType === WORKOUT_TYPE.USER_WORKOUT">
      <a mat-button [routerLink]="editUserWorkoutRoute">Modifica</a>
    </ng-container>
  </mat-card-actions>
</mat-card>
